.row{
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    padding: 10px;
    border: 3px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 80px;

}

.title{
    color: #506A85;
    text-align: center;
    font-weight: 300;
    font-size: 44px;
    margin-bottom: 50px;
    line-height: 90%;
}